                    .circunu {
                        position: relative;
                        background: #ffffff;
                        width: 3em;
                        height: 3em;
                        border-radius: 5em;
                        margin: auto;
                        margin-top: 5em;
                        margin-bottom: 5em;
                        border: 1em solid #ffffff;
                        color: white;
                        transform: scale(2);
                        transition: border 0.3s, bg 0.4s;
                        &:hover {
                            border: 1em solid rgb(148, 0, 0);
                            background: rgb(148, 0, 0);
                        }
                        &:hover li {
                            opacity: 1;
                        }
                        &:hover ul::before {
                            position: absolute;
                            content: "";
                            width: 0;
                            height: 0;
                            display: block;
                            left: 50%;
                            top: -5.0em;
                            border-width: 6.5em;
                            border-radius: 0 7.5em 7.5em 0;
                            border-left: 0;
                            border-style: solid;
                            border-color: rgba(0, 0, 0, 0.01);
                            z-index: -1;
                        }
                        ul {
                            list-style-type: none;
                            border-radius: 500px;
                            list-style-position: inside;
                            list-style: none;
                            padding: 0;
                            li {
                                width: 5em;
                                height: 1.4em;
                                padding: 0.2em;
                                margin-top: 0.2em;
                                text-align: left;
                                border-top-right-radius: 0.5em;
                                border-bottom-right-radius: 0.5em;
                                background: linear-gradient(to right, black 37.5%, white 5%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                transition: all 0.1s;
                                &:hover {
                                    background: linear-gradient(to right, black 37.5%, rgb(148, 0, 0) 5%);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    cursor: pointer;
                                }
                                &:nth-of-type(1) {
                                    transform: rotate(-45deg);
                                    position: absolute;
                                    left: 0.5em;
                                    top: -2em;
                                    &:hover {
                                        left: 0.6em;
                                        top: -2.1em;
                                    }
                                }
                                &:nth-of-type(2) {
                                    transform: rotate(0deg);
                                    position: absolute;
                                    left: 2em;
                                    top: 0.5em;
                                    &:hover {
                                        left: 2.1em;
                                        top: 0.5em;
                                    }
                                }
                                &:nth-of-type(3) {
                                    transform: rotate(45deg);
                                    position: absolute;
                                    left: 0.8em;
                                    top: 3em;
                                    &:hover {
                                        left: 0.9em;
                                        top: 3.1em;
                                    }
                                }
                            }
                        }
                    }